# misc
.DS_Store
*.pem

# dependencies
/node_modules
node_modules/
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Environment variables
.env
.env.local
.env.*.local
.env*

# Logs
logs/
*.log

# Build output
dist/
.next/
out/
build/

# Expo
.expo/
.expo-shared/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# VS Code settings
.vscode/

# iOS / Android (if you later eject from Expo)
ios/
android/

# Admin pages
apps/web/src/app/(pages)/admin/